{% extends 'main.html' %}

{% block title %} Apartment Form {% endblock %}

{% block content %}
    <div class="container">
        <div class="col-6 offset-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-group p-2">
                    <h3>New Apartment</h3>
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.building_name.id_for_label }}">{{ apartment_form.building_name.label }}</label>
                    {{ apartment_form.building_name }}
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.apartment_no.id_for_label }}">{{ apartment_form.apartment_no.label }}</label>
                    {{ apartment_form.apartment_no }}
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.number_of_bedrooms.id_for_label }}">{{ apartment_form.number_of_bedrooms.label }}</label>
                    {{ apartment_form.number_of_bedrooms }}
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.floor_no.id_for_label }}">{{ apartment_form.floor_no.label }}</label>
                    {{ apartment_form.floor_no }}
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.notes.id_for_label }}">{{ apartment_form.notes.label }}</label>
                    {{ apartment_form.notes }}
                </div>
                <div class="form-group p-2">
                    <label for="{{ apartment_form.profiles.id_for_label }}">{{ apartment_form.profiles.label }}</label>
                    {{ apartment_form.profiles }}
                </div>
                <div class="form-group p-2">
                    <button type="submit" class="btn btn-outline-primary">Add Apartment</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}